* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

                            /* Menu principal */
header {
background-color: #afaeae;
}

.nav-bar {
display: flex;
justify-content: space-between;
padding: 1.1rem 6rem;
}

.logo {
display: flex;
align-items: center;
}

.code {
    width: 30px;
}

.nav-list {
display: flex;
align-items: center;
}

.nav-list ul {
display: flex;
justify-content: center;
list-style: none;
}

.nav-item {
margin: 0 15px;
}

.nav-link {
text-decoration: none;
font-size: 1.25rem;
color: black;
font-weight: 400;
}

                            /* Menu Mobile */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
display: none;
}

.icon {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 730px) {
.nav-bar {
    padding: 1.5rem 4rem;
    }

.nav-item {
    display: none;
    }

.login-button {
    display: none;
    }

.mobile-menu-icon {
    display: block;
    }

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    }

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    }

.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
    }

.open {
    display: block;
    }
}

                        /* Link Rede Social */
.buttons {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buttons a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #79797e;
    color: white;
    margin: 0 6px;
    padding: 5px;
    border-radius: 50px;
    justify-content: center;
    transition: 0.4s;
    font-size: 20px;
}
 
 .buttons a:hover {
    background: rgb(65, 62, 62);
    transform: scale(1.6) rotate(25deg);
}

                        /* Imagem e logo rede social */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 590px;
    margin: auto auto;
    display: grid;
    grid-template-columns: auto auto;
}

.text {
    display: block;
    font-size: 25px;
    text-align: center;
    margin: auto auto;
    padding-top: 60px;
}

.dev {
    width: 500px;
}

footer {
    font-size: 15px;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(175, 174, 174);
}

/* Parte responsiva - Container principal */
@media (max-width: 1050px) {
    .container-2 {
        display: block;
        width: 400px;
    }

    .dev {
        display: block;
        width: 400px;
    }
}

@media (max-width: 900px) {
    .container-2 {
        display: block;
        width: 300px;
    }
    .dev {
        display: block;
        width: 300px;
    } 
}

@media (max-width: 700px) {
    .container-2 {
        display: block;
        width: 250px;
    }
    .text {
        font-size: 15px;
    }
    .dev {
        display: block;
        width: 300px;
    }
    
    .rodape {
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        background-color: rgb(175, 174, 174);
    }
}

    
@media (max-width:500px) {
    .container-2 {
        display: block;
        width: 200px;
    }

    .text {
        font-size: 15px;
    }
    .dev {
        display: block;
        width: 150px;
    }
    
    .rodape {
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin: 170px auto;
        margin-bottom: 0;
        padding: 10px;
        text-align: center;
        background-color: rgb(175, 174, 174);
    }
}